# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
testy/test_lc3/x64/Debug/test_lc3.Build.CppClean.log
testy/test_lc3/x64/Debug/test_lc3.log
*.log
testy/.vs/testy/v17/Solution.VC.db
*.ipch
testy/.vs/testy/v17/Browse.VC.db
*.vsidx
